.header{
    border: 2px solid orange;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
     
     
   }
.nav{
    border: 2px solid blue;
    display: flex;
   
    height:50px;

   
    
}
.banner{
    border: 2px solid yellowgreen;
    margin: 175px;
    margin-top: 5px;
    margin-bottom: 10px;
     height: 280px;
     box-sizing: border-box;
     display: flex;
}
.img-profile{
    margin: 10px;
   margin-left: 200px;
   padding: 3px;
    height: 180px;
    width: 180px;
    border-radius: 70px;
    box-sizing: border-box;
    border: 5px solid rgb(189, 218, 231);  
}
/*section work */

.seccion2{
    border: 5px solid rgb(39, 33, 24);
}
.section-works{
    max-width: 800px;
    margin: auto;
    border: 7px solid rgb(217, 255, 0);
    box-sizing: border-box;
}
.card{
    display: flex;
}
.card div img{
    width: 25px;
    height: 18px;
    object-fit: cover;
    border-radius: 10px;
}
.text-works{
        font-size: 2em;
        margin-bottom: 30px;
        font-weight: bold;
        text-transform: uppercase;
}