
.container{
    border:solid pink 5px;
    width: 30%;
    height: 50%;
    position: relative;
    left: 300px;
    top: 300px;
    
}

.cuadrado{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-bottom: 10px;
    position: relative;
    left: 700px;
    top: 100px;
}

.circulo{
    width: 100px;
    height: 100px;
    background-color: rgb(219, 24, 24);
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 500px;
}